<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470090311058-ce4hcecp1okoc7kg57vtqj95esi12n0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470090311058-ce4hcecp1okoc7kg57vtqj95esi12n0b</string>
	<key>API_KEY</key>
	<string>AIzaSyDVE8W99tkIf9qNg-bGOorTOvchbNgKm9A</string>
	<key>GCM_SENDER_ID</key>
	<string>470090311058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterapplication</string>
	<key>PROJECT_ID</key>
	<string>sayahatapp-67582</string>
	<key>STORAGE_BUCKET</key>
	<string>sayahatapp-67582.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470090311058:ios:3a2e59e5d4ed3988a5cd4b</string>
</dict>
</plist>